.banner {
    position: sticky;
    top: 0;
    z-index: 10000;
    background: rgb(0,66,170);
    background: linear-gradient(180deg, rgba(0,66,170,1) 0%, rgba(0,73,186,0.989233193277311) 11%, rgba(0,212,255,1) 78%, rgba(0,212,255,0) 100%);
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
}

.banner a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

.banner a:not([href]) {
    text-decoration: underline;
    cursor: pointer;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 70px;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 40px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}
